body {
  background-color: black;
}

.App {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  font-family: "Titillium Web", sans-serif;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

a {
  color: white;
}
